body { 
  padding-top: 0;
}

.navbar{
  height: 150px;
  padding: 40px 0 0 0;
  margin-bottom: 0;
}

.navbar .social{
  margin: 35px;
}

@media (min-width: 1200px) {
  .container{
    max-width: 800px;
  }
}

.post-well div{
  padding-left: 0;
}

.post-well h4{
  margin-top: 0;
}

blockquote {
  font-size: inherit;
  font-style: italic;
}

.meta {
  padding-left: 10px;
  font-size: 10pt;
  font-style: italic;
}
