---
layout: default
title: Two Hand News
---


<div class="row">
  <div class="col-md-12">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% for post in paginator.posts %}
      <div class="row">
        <div class="col-md-12">
          <div class="well post-well">

            <!-- pre linked-list:
            <div class="col-md-9"><h4><a href="{{ post.url }}">{{ post.title }}</a></h4></div>
            -->

            <!-- linked-list linking: -->
            <!-- post.link: {{post.link}} -->
            <div class="row">
              {% if post.link %}
              <div class="col-md-9"><h4><a href="{{ post.link }}">{{ post.title }}</a></h4></div>
              {% else %}
              <div class="col-md-9"><h4>{{ post.title }}</h4></div>
              {% endif %}

              <div class="col-md-3"><p class="meta">{{ post.date | date_to_string }}</p></div>
              <div class="col-md-12 post">
              {{ post.content }}
              </div>

              <!-- per-post permalink: -->
              <div class="col-md-9">
                {% if post.tags.size > 0 %}
                  <p class="tags">
                    {% for tag in post.tags %}
                      <a href="/tags.html#{{ tag }}">{{ tag }}</a>&nbsp;
                    {% endfor %}
                  </p>
                {% else %}
                  &nbsp;
                {% endif %}
              </div>
              <div class="col-md-3"><p><a href="{{ post.url }}" title="Permalink">→2HN</a></p></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="row">
        <div class="col-md-12">
          <div id="footer" class="well post-well">

            {% if paginator.total_pages > 1 %}
              <div class="pagination">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                  <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                  {% if page == paginator.page %}
                    <em>{{ page }}</em>
                  {% elsif page == 1 %}
                    <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                  {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                  {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                  <span>Next &raquo;</span>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>
