<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link href="/assets/bootstrap/v3.1.0/css/bootstrap.min.css" rel="stylesheet" />
 		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/css/new_main.css" rel="stylesheet" />
        
        <!-- defaults
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        -->

    </head>
    <body>

      <div class="navbar">
        <div class="container">
          <div class="row">
              <div class="pull-left">
          	<a href="/"><img src="/assets/images/2hand-logo2.png" /></a>
              </div>
              <div class="social pull-right">
	          <a href="https://twitter.com/twohandnews"><i class="fa fa-twitter fa-2x"></i></a>
	      </div>
          </div>
        </div>
      </div>

      <div class="container">
      {{ content }}
      </div>

      <script src="/assets/jquery/v1.10.2/jquery.min.js"></script>
      <script src="/assets/bootstrap/v3.1.0/js/bootstrap.min.js"></script>
      <script src="/assets/moment/v2.5.0/moment.min.js"></script>

    </body>
</html>
